body{
    margin: 0;
    overflow: scroll;
}

header {
    padding: 10px;
    margin: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}
li{
    list-style: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color:black;
    padding: 10px;
    margin-left: 15px;
}
.one{
    box-shadow: -1px 1px 8px -6px rgba(0,0,0,0.67);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.one img{
    width:20px;
    height: 20px;
    padding-right:4px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
.heading{
    color:white;
    font-weight: bolder;
}

/* Styling the input */
.content input{
    width: 400px;
    height: 35px;
    padding: 10px;
    border:1px solid black;
    border-radius: 10px;
}
form button{
    background-color: #1A1A3D;   
    color: white;                
    font-size: 16px;            
    padding: 20px 40px;          
    border: none;                
    border-radius: 20px;         
    cursor: pointer;             
    outline: none;               
    font-family: Arial, sans-serif;
}
form button:hover {
    background-color: #333366;
}

.content{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-left:50px;
    margin-right: 50px;
    background: white;
    padding:10px;
    border-radius: 10px;
}
.heading{
    display: flex;
    align-content: center;
    padding-left:50px;
    font-size: 3em;
    line-height: 5px;
}
.background{
    background-image: url('backgroundImg.jpeg');
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: scroll; */
}
.announce{
    display: flex;
    margin: 25px auto;
    background-color: #1A1A3D;   
    color: white;
    height: 80px;
    max-width: 1200px;
    align-items: center;
    border-radius: 15px;
    padding: 2px;
}
.announce img{
    width:30px;
    height: 30px;
    padding:10px;    
}
.announce button{
    justify-content:end;
    background-color: #1A1A3D;   
    color:white;  
    padding: 5px 10px;        
    border: none;                
    border-radius: 20px;         
    cursor: pointer;             
    outline: none;               
    font-family: Arial, sans-serif;
    justify-self: end;
    
}
.announce button:hover{
    background-color: #333366;

}
/* carasel */