body{
    margin: 0;
}
header {
    background: white;
    padding: 10px;
    max-width: 1400px;
    margin:  10px auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, auto));
    align-items: center;
    text-align: center;
}
  a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 100;
    color:black;
}
  .one{
    border:1px solid black;
    border-radius: 8px;
}
.content{
    background: white;
    max-width: 1000px;
}

